<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs499.ricky.polyparker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme"
        android:name=".PolyParkerApplication">
        <activity
            android:name="com.cs499.ricky.polyparker.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cs499.ricky.polyparker.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.cs499.ricky.polyparker.HybridActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.cs499.ricky.polyparker.TabbedActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.cs499.ricky.polyparker.ListTabActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.cs499.ricky.polyparker.MapActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.cs499.ricky.polyparker.ContributeActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>
